/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
  margin: 40px 0px 70px;
  text-align: center;
}
.grid_style
{
	background-color: #42AFDC;
}
.a_tutorial
{
	color: #42AFDC;
	font-size: 12px;
	font-family:sans-serif;
}
.a_tutoriala:hover
{
	color: #000000;
	font-size: 12px;
	font-family:sans-serif;
	text-decoration: none;
}
.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.label_success
{
	color: #EEEEEE;
	font-size: 12px;
	display: inline;
}
.label_basic_grid
{
	background-image:url(/images/basicGreed.png);
	width:135px;
	height:125px;
	cursor: pointer;
	border: 1px solid #C3D9FF;
}
.label_edit_grid
{
	background-image:url(/images/editorgrid.png);
	width:135px;
	height:125px;
	cursor: pointer;
	border: 1px solid #C3D9FF;
}
.label_grouping_grid
{
	background-image:url(/images/groupinggrid.png);
	width:135px;
	height:125px;
	cursor: pointer;
	border: 1px solid #C3D9FF;
}
.label_paging_grid
{
	background-image:url(/images/paging.png);
	width:135px;
	height:125px;
	cursor: pointer;
	border: 1px solid #C3D9FF;
}
.label_basic_tree
{
	background-image:url(/images/basicTree.png);
	width:135px;
	height:125px;
	cursor: pointer;
	border: 1px solid #C3D9FF;
}
.label_contextmenu_tree
{
	background-image:url(/images/contextMenuTree.png);
	width:135px;
	height:125px;
	cursor: pointer;
	border: 1px solid #C3D9FF;
}
.label_filter_tree
{
	background-image:url(/images/filterTree.png);
	width:135px;
	height:125px;
	cursor: pointer;
	border: 1px solid #C3D9FF;
}
.label_basic_treegrid
{
	background-image:url(/images/basicTreeGrid.png);
	width:135px;
	height:125px;
	cursor: pointer;
	border: 1px solid #C3D9FF;
}
.label_editor_treegrid
{
	background-image:url(/images/editorTreeGrid.png);
	width:135px;
	height:125px;
	cursor: pointer;
	border: 1px solid #C3D9FF;
}
.label_roweditor_treegrid
{
	background-image:url(/images/rowEditorTreeGrid.png);
	width:135px;
	height:125px;
	cursor: pointer;
	border: 1px solid #C3D9FF;
}
.label_rownnumber_treegrid
{
	background-image:url(/images/rowNumberTreeGrid.png);
	width:135px;
	height:125px;
	cursor: pointer;
	border: 1px solid #C3D9FF;
}

.label_filter_grid
{
	background-image:url(/images/filtergrid.png);
	width:135px;
	height:125px;
	cursor: pointer;
	border: 1px solid #C3D9FF;
}

.label_simple_chart
{
	background-image:url(/images/barchart.png);
	width:135px;
	height:125px;
	cursor: pointer;
	border: 1px solid #C3D9FF;
}

.label_basic_dnd
{
	background-image:url(/images/basicDnD.png);
	width:135px;
	height:125px;
	cursor: pointer;
	border: 1px solid #C3D9FF;
}

.label_listview_xtemplate
{
	background-image:url(/images/xtemplate.png);
	width:135px;
	height:125px;
	cursor: pointer;
	border: 1px solid #C3D9FF;
}

.label_tutorial_notwritten
{
	color: #42AFDC;
	font-size: 12px;
	font-family:sans-serif;
	cursor: pointer;
	text-decoration: underline;
}
.label_veiw_comment
{
	color: #DFF7FF;
	font-size: 14px;
	font-family:sans-serif;
	cursor: pointer;
	text-decoration: none;
	display: inline;
	text-align: center;
	font-family: Nyla;

}
.label_veiw_comment:hover
{
	color: #ffffff;
	font-size: 14px;
	font-family:sans-serif;
	cursor: pointer;
	text-decoration: underline;
	display: inline;
	text-align: center;
	font-family: Nyla;

}
#headerText {
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
	font-size: 80% !important;
	text-align: center !important;	/* IE-Win hack */
	background-image: url(images/bg2.gif) !important;
	/*background-attachment: fixed !important;*/
}


#mainbg {
	
	background-image: url(images/bg2.gif);
	background-repeat: repeat;
	background-position: left top;
	margin-bottom:0px;
	height:auto;
}

#bannerctn {
	margin: 0 auto;
	width: 970px;
	height:50px;
	padding-top:20px;
	text-align: center;	/* IE-Win hack */
}

#main-topborder {
	margin: 0 auto;
	width: 970px;
	height: 40px;
	background: transparent url(images/aaa_top4a.png) top left no-repeat;	
}

#comment_div
{
	margin: 10px auto;
	width: 970px;
	background: transparent url(images/transBg.png) top left repeat;
	border:solid 1px #487AAC;
	margin-bottom:25px;
}
#main-container {
	margin: 80px auto;
	padding: 10px;
	width: 95%;
	background: transparent url(images/transBg.png) top left repeat;
	height: auto;
}

#main-botborder {
	margin: 0 auto;
	width: 970px;
	height: 41px;
	background-image: url(images/aaa_bot.png);
	background-repeat: no-repeat;
	
}


img { border:none; padding: 0; margin: 0; }
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;margin:2px 2px 10px 2px;border:none;}
hr.space {background:#fff;color:#fff;}

/* Easy Float Clearing */
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.clearfix {display:inline-block;}
* html .clearfix {height:1%;}
.clearfix {display:block;}
.clear {clear:both;}

#footer
{
	bottom: 0;
	position: fixed;
	background-color: #ccc;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border: 1px solid #000;
	height:25px;
	background-image:url(images/toolbarBg.png);
	background-repeat:repeat-x;
	margin-left:10px;
	margin-right:10px;
	width:98%;
	border-top:1px solid #AFD2FF;
	border-left:1px solid #AFD2FF;
	border-right:1px solid #AFD2FF;
}
.itemLeft
{
	background-color:transparent;
	float:left;
	display:block;
	height:24px;
	padding-left:3px;
	padding-right:3px;
	padding-top:2px;
}
.itemLeftSpace
{
	background-color:#A4C8EF;
	float:left;
	display:block;
	height:24px;
	width:1px;
}
.itemRight
{
	background-color:transparent;
	float:right;
	display:block;
	height:24px;
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	font-family: Nyla;
}
.itemRightSpace
{
	background-color:#A4C8EF;
	float:right;
	display:block;
	height:15px;
	width:1px;
	margin-top:5px;
}
.bottomLink
{
	color: #D1E4EF !important;
	font-size: 13px;
	font-family:sans-serif;
	cursor: pointer;
	text-decoration: none;
	display: inline;
	padding-left: 3px;
	padding-bottom:5px;
}
.bottomLink:HOVER
{
	color: #CDF0FD !important;
	font-size: 13px;
	font-family:sans-serif;
	cursor: pointer;
	text-decoration: underline !important;
	display: inline;
	padding-left: 3px;
	padding-bottom:5px;
}
.bottomLink:VISITED
{
	color: #C3D5DF;
	font-size: 13px;
	font-family:sans-serif;
	cursor: pointer;
	text-decoration: none;
	display: inline;
	padding-left: 3px;
	padding-bottom:5px;
}

#header
{
	top: 0;
	position: fixed;
	background-color: #063F5F;
	height:60px;
	margin:0;
	width:100%;
	-moz-box-shadow: 0px 2px 3px 0px #111111;
    -webkit-box-shadow: 0px 2px 3px 0px #555555;
    -box-shadow: 0px 2px 3px 0px #999;
}
#logo
{
	margin-left:30px;
	margin-top:10px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	height:40px;
	width:30%;
	float:left;
	display:inline;
}
.topmenu
{
	margin-right:30px;
	margin-top:20px;
	height:40px;
	width:60%;
	float:right;
	display:inline;
	font-size: 14px;
	font-family:sans-serif;
	font-weight:bold;
	color:#DFF7FF;
}
.topmenu a
{
	color:#DFF7FF;
	text-decoration: none;
}
.topmenu a:hover
{
	color:#ffffff;
	text-decoration: underline;
}
.topmenu a:visited
{
	color:#DFF7FF;
	text-decoration: none;
}
#bottom
{
	background-color: #59869F;
	height:auto;
	width:100%;
	padding:10px;
	-moz-box-shadow: 0px -1px 3px 0px #111111;
    -webkit-box-shadow: 0px -1px 3px 0px #555555;
    -box-shadow: 0px -1px 3px 0px #999;
    border-top:2px solid #ffffff;
}
.bottom_header
{
	color:#ffffff;
	font-size: 16px;
	font-family: Nyla;
	font-style: italic;
}

.feedback_bar
{
	right:0;
	position: fixed;
	background-image:url(images/feedback.png);
	width:25px;
	height:110px;
	background-repeat: none;
	margin-top: 200px;
	cursor: pointer;
}