/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
  margin: 40px 0px 70px;
  text-align: center;
}
.grid_style
{
	background-color: #42AFDC;
}
.a_tutorial
{
	color: #42AFDC;
	font-size: 12px;
	font-family:sans-serif;
}
.a_tutoriala:hover
{
	color: #000000;
	font-size: 12px;
	font-family:sans-serif;
	text-decoration: none;
}
.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.label_success
{
	color: #5097C5;
	font-size: 12px;
}
.label_basic_grid
{
	background-image:url(/images/basicGreed.png);
	width:135px;
	height:125px;
	cursor: pointer;
	border: 1px solid #C3D9FF;
}
.label_edit_grid
{
	background-image:url(/images/editorgrid.png);
	width:135px;
	height:125px;
	cursor: pointer;
	border: 1px solid #C3D9FF;
}
.label_grouping_grid
{
	background-image:url(/images/groupinggrid.png);
	width:135px;
	height:125px;
	cursor: pointer;
	border: 1px solid #C3D9FF;
}
.label_paging_grid
{
	background-image:url(/images/paging.png);
	width:135px;
	height:125px;
	cursor: pointer;
	border: 1px solid #C3D9FF;
}
.label_basic_tree
{
	background-image:url(/images/basicTree.png);
	width:135px;
	height:125px;
	cursor: pointer;
	border: 1px solid #C3D9FF;
}
.label_contextmenu_tree
{
	background-image:url(/images/contextMenuTree.png);
	width:135px;
	height:125px;
	cursor: pointer;
	border: 1px solid #C3D9FF;
}
.label_filter_tree
{
	background-image:url(/images/filterTree.png);
	width:135px;
	height:125px;
	cursor: pointer;
	border: 1px solid #C3D9FF;
}
.label_basic_treegrid
{
	background-image:url(/images/basicTreeGrid.png);
	width:135px;
	height:125px;
	cursor: pointer;
	border: 1px solid #C3D9FF;
}
.label_editor_treegrid
{
	background-image:url(/images/editorTreeGrid.png);
	width:135px;
	height:125px;
	cursor: pointer;
	border: 1px solid #C3D9FF;
}
.label_roweditor_treegrid
{
	background-image:url(/images/rowEditorTreeGrid.png);
	width:135px;
	height:125px;
	cursor: pointer;
	border: 1px solid #C3D9FF;
}
.label_rownnumber_treegrid
{
	background-image:url(/images/rowNumberTreeGrid.jpg.png);
	width:135px;
	height:125px;
	cursor: pointer;
	border: 1px solid #C3D9FF;
}

.label_tutorial_notwritten
{
	color: #42AFDC;
	font-size: 12px;
	font-family:sans-serif;
	cursor: pointer;
	text-decoration: underline;
}